{% extends "quiz/base.html" %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md text-center">
    <p class="text-lg text-text_default">Spiel-Lobby für</p>
    <h1 class="text-4xl font-bold text-text_heading mb-4">{{ game_session.course.name }}</h1>
    
    <p class="text-2xl text-text_default mb-2">Spiel-Code:</p>
    <div class="inline-block bg-box_bg px-8 py-4 rounded-lg shadow-inner mb-8">
        <p class="text-5xl font-mono tracking-widest text-primary">{{ game_session.join_code }}</p>
    </div>

    <h2 class="text-2xl font-semibold text-text_heading mb-4">Teilnehmer</h2>

    <!-- Polling of the participant list -->
    <div id="participant-list" 
         hx-get="{% url 'poll_lobby' game_session.join_code %}" 
         hx-trigger="every 3s"
         hx-swap="innerHTML"
         class="max-w-md mx-auto mb-8">
        
        {% include "quiz/partials/_lobby_participants_list.html" %}
    </div>


    <!-- Game Start Button OR Waiting Poller -->
    {% if is_host %}
        <form action="{% url 'start_game' game_session.join_code %}" method="post">
            {% csrf_token %}
            <button type="submit" class="w-full py-3 px-6 bg-success hover:bg-opacity-90 text-white text-xl font-bold rounded-md shadow-lg transition duration-300">
                Spiel starten!
            </button>
        </form>
        <p class="text-sm text-gray-500 mt-2">Nur der Host (Spielersteller) kann das Spiel starten.</p>
    {% else %}
        <div hx-get="{% url 'poll_game_start' game_session.join_code %}" 
             hx-trigger="every 3s">
        </div>
        <p class="text-xl text-gray-600">Warte, bis der Host das Spiel startet...</p>
    {% endif %}

</div>
{% endblock %}