<ul class="divide-y divide-gray-300 bg-white rounded-lg shadow-md border border-gray-200">
    {% for participant in game_session.participants.all %}
    <li class="p-4 text-lg text-gray-800">
        {{ participant.user.username }}
        
        {% if forloop.first %}
        <span class="ml-2 px-2 py-0.5 bg-blue-100 text-blue-700 text-xs font-medium rounded-full">
            Host
        </span>
        {% endif %}
    </li>
    {% empty %}
    <li class="p-4 text-gray-500">Noch keine Teilnehmer...</li>
    {% endfor %}
</ul>